.juegos
	// make-xs-column(8)
	make-sm-column(10)
	make-sm-column-offset(1)
	make-md-column(8)
	make-md-column-offset(2)

.row
	make-row()
	margin 0 auto
	max-width 128rem
	width 100%
	
.registro, .juego-rexona, .legales, .ranking
	make-sm-column(8)
	make-sm-column-offset(2)
	make-lg-column(6)
	make-lg-column-offset(3)
	
	clearfix()

.registrarse
	make-sm-column(8)
	make-sm-column-offset(2)
	make-lg-column(4)
	make-lg-column-offset(4)
	

.separador
	make-sm-column(6)

.separador-button
	make-sm-column(6)
	make-sm-column-offset(3)

.juegos-rexona-form
	make-lg-column(12)

.separador-select
	make-sm-column(6)
	
