//path images
path(img)
	background-image url("../images/"+img)

dots()
	&::after
		path('puntos-circo-rexona-min.png')
		background-repeat no-repeat
		background-size 100%
		content ' '
		display block
		height 8px
		margin 7px auto
		width 125px