

.campos-registo, .registro-rexona-form, .col-juegos
	.input
		position relative
		
		label
			display block
			font-size 1.2rem
			left 1rem
			position absolute
			top 0.8rem
			transition all ease-in-out 0.3s
			z-index 1
			
			&.active
				opacity 0
				transition all ease-in-out 0.3s
			
		input
			display inline-block
			margin-bottom 2rem
			padding 0.5rem
			position relative
			width 100%
			
			&:focus
				outline 0	

.enviar
	margin-bottom 2rem
	button,
	input
		background-color #642e8a
		border 0
		color white
		font-weight 500
		padding 0.8rem 0
		width 100%

.image-juego
	margin-bottom 1rem
	img
		width 100%

.instrucciones-juego-rexona
	color white
	text-align center
	img
		height 30px
		margin 1rem 0
		width @height

.instrucciones-juego-controles
	margin 2rem 0
	img
		width 100%

.juegos-seleccion
	.juego
		border 2px solid #49c1d1
		border-radius 10px 10px 0 0
		margin-bottom 2rem
		overflow hidden
		width 100%
		
		a
			background-color #49c1d1
			color #0c0c5a
			display block
			font-size 1.5rem
			font-weight bold
			padding 1rem 1rem
			position relative
			width 100%
			
			span
				background-color #602c86
				color white
				display block
				padding 1.3rem
				position absolute
				right 0
			
		img
			width 100%

.juego-rexona-embed
	width 100%
	img
		width 100%

.juegos-rexona-form
	padding 0
	.instruccion-codigo
		margin-bottom 1rem
		span
			background-color #1c2960
			color white
			display block
			padding 1rem
			text-align center
			
			p
				margin 0


.legales-check
	color white
	margin 1rem 0
	a
		color #35fce4
		
.redes-face
	.link-registro
		dots()

.modal-registro
	text-align center
	
	img
		width 50%
	
	p
		color white
		margin 2rem 0

.modal-juego
	color white
	text-align center
	
	p
		margin 2rem 0
	
	h3
		color white
		font-size 2rem
		dots()
	
	.info
		width 20%

.rankings
	
	.primer-puesto
		margin 0 auto
		
		img
			border 2px solid #49c1d1
			border-radius 50%
			display inline-block
			vertical-align middle
			width 30%
		
		.menu-one
			display inline-block
			margin 0 0 0 2rem
			padding 0
			vertical-align middle
			width 55%
			
			li
				color white
				list-style none
				margin-bottom 1rem
			
			&-registro
				span
					color #49c1d1
					font-size 1.5rem
			
			p
				margin 0

.ranking-general
	table
		background  rgba(0, 0, 0, 0.5)
		border 2px solid #49c1d1
		margin 2rem 0
		text-align center
		width 100%

		tr
			th
				color #49c1d1
				padding 0.5rem
			td
				color white
				padding 0.5rem

.rexona-logo
	text-align center
	
	img
		max-width 600px
		width 100%

.rexona-legales
	color white

.rexona-titulo
	h3
		color white
		font-size 1.7rem
		margin 0
		text-align center
		dots()
	
	p
		color white
		text-align center
			
.redes-face
	input
		background-color #4266b2
		border none
		color white
		font-weight bold
		padding 0.8rem 0
		width 100%

	dots()

	img
		width 100%

.separador-select, .separador-button
	padding 0
		



