@media (min-width: 600px)

	body
		path('fondo-circo-rexona.jpg')
		background-size cover
		
		&.bg-full
			background-size initial
		
		
@media (min-width: 638px)
	.primer-puesto
		width 350px
	.menu
		width 50%
		left -50%

@media (min-width: 768px)

	.separador-select
		padding 0
		
		input
			padding-top 1rem !important
		
		label
			top 1.2rem !important
		
		span 
			padding 0.5rem !important
			p
				font-size 1rem
				
				
@media (min-width: 500px)

	.juegos-seleccion

		.juego
			width 48%
		.esc-one
			float left
		
		.esc-two
			float right
			
@media (min-width: 1015px)
	.menu
		width 30%
		left -30%
	
	.rexona-titulo
		h3
			font-size 2.5rem
		
@media (min-width: 1200px)

	.rexona-legales
		line-height 3rem

@media (min-width: 1920px)

	.registro-rexona-form, .col-juegos, .campos-registo
		.input 				
			label
				top 1.9rem
	
	
	
	
			
