.modal
	&-backdrop
		z-index 0

.modal-content
	border 2px solid white

.modal-body, .modal-header
	background-color #0b2042

.modal-header
	padding 1rem
	border none
	
	.close
		color white
		// padding 1rem
		border 2px solid white
		border-radius 50%
		opacity 1
		height 40px
		width @height
		
		span
			display block
			margin-bottom 0.4rem