//Menu

div.menu
	nav.menu-rexona
		div.hamburguesa
			button.toogle-menu(type="button")
				+image('hamburguesa-open.png', 'Circo Rexona')
		div.circorex
				+image('circo-rexona-logo-min-white.png', 'Circo Rexona')
		ul.menu-one
			li.menu-one-home
				a(href="#")
					|HOME
			li.menu-one-demo
				a(href="#")
					|DEMO
			li.menu-one-registro
				a(href="#")
					|REGISTRO
			li.menu-one-juego
				a(href="#")
					|JUEGO
			li.menu-one-ranking
				a(href="#")
					|RANKING
			li.menu-one-legales
				a(href="#")
					|LEGALES


///-Menu